<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 ">
            <div class="card border-success bg-light mb-3 mt-5" style="max-width: 100%;">
                <div class="card-header"><h2>Login</h2></div>
                <div class="card-body">
                    <form action="/login" method="post" novalidate>
                        <div class="col-md-12 order-md-1">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="username">Username</label>
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control <%= checkLoginValid(messages.login.username) %>"
                                               id="username"
                                               value="<%= messages.login.username.value %>"
                                               name="userName">
                                        <div class="invalid-feedback">
                                            <%= messages.login.username.error %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="password">Password</label>
                                    <input type="password"
                                           class="form-control <%= checkLoginValid(messages.login.password) %>"
                                           id="password"
                                           name="password">
                                    <div class="invalid-feedback">
                                        <%= messages.login.password.error %>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <input type="checkbox" name="remember"> Remember Me
                                </div>
                                <hr class="my-4">
                                <div class="google-btn">
                                    <div class="google-icon-wrapper">
                                        <img class="google-icon"
                                             src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                                    </div>
                                    <button class="btn btn-text"><b><a href="/login/google">Sign in with google</a></b>
                                    </button>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" value="">
                                </div>
                                <div>
                                    <%= messages.login.error %>
                                    <%= captchaError %>
                                </div>
                                <div class="col-md-12 mb-3 text-center">
                                    <button class="btn btn-primary btn-lg">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- captcha -%>