<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card border-primary bg-light mb-3 mt-5" style="max-width: 100%;">
                <div class="card-header pt-4">
                    <h2>Register</h2>
                </div>
                <div class="card-body">
                    <form action="/register" method="post" novalidate>
                        <div class="col-md-12 order-md-1">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">First name</label>
                                    <input type="text"
                                           class="form-control <% if(messages.firstName.value != '' || messages.firstName.error != ''){ if(messages.firstName.error != null) { %>is-invalid<% }else if (messages.firstName.value != ''){ %>is-valid<% }} %>"
                                           id="firstName"
                                           name="firstName"
                                           value='<% if(messages.firstName.error == null){ %><%= messages.firstName.value %><% } %>'
                                           autofocus>
                                    <div class="invalid-feedback">
                                        <%= messages.firstName.error %>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Last name</label>
                                    <input type="text"
                                           class="form-control <% if(messages.lastName.value != '' || messages.lastName.error != ''){ if(messages.lastName.error != null) { %>is-invalid<% }else if (messages.lastName.value != ''){ %>is-valid<% }} %>"
                                           id="lastName"
                                           name="lastName"
                                           value='<% if(messages.lastName.error == null){ %><%= messages.lastName.value %><% } %>'>
                                    <div class="invalid-feedback">
                                        <%= messages.lastName.error %>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="username">Username</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@</span>
                                        </div>
                                        <input type="text"
                                               class="form-control <% if(messages.userName.value != '' || messages.userName.error != ''){ if(messages.userName.error != null) { %>is-invalid<% }else if (messages.userName.value != ''){ %>is-valid<% }} %>"
                                               id="username"
                                               name="userName"
                                               placeholder="Username"
                                               value='<% if(messages.userName.error == null){ %><%= messages.userName.value %><% } %>'>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            <%= messages.userName.error %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                    <input type="email"
                                           class="form-control <% if(messages.email.value != '' || messages.email.error != ''){ if(messages.email.error != null) { %>is-invalid<% }else if (messages.email.value != ''){ %>is-valid<% }} %>"
                                           id="email"
                                           name="email"
                                           placeholder="you@example.com"
                                           value='<% if(messages.email.error == null){ %><%= messages.email.value %><% } %>'>
                                    <div class="invalid-feedback">
                                        <%= messages.email.error %>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="password">Password</label>
                                    <input type="password"
                                           class="form-control <% if(messages.password.value != '' || messages.password.error != ''){ if(messages.password.error != null) { %>is-invalid<% }else if (messages.password.value != ''){ %>is-valid<% }} %>"
                                           id="password"
                                           name="password"
                                           value='<% if(messages.password.error == null){ %><%= messages.password.value %><% } %>'>
                                    <div class="invalid-feedback">
                                        <%= messages.password.error %>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="confirmpass">Password (confirm)</label>
                                    <input type="password"
                                           class="form-control <% if(messages.confirmPassword.value != '' || messages.confirmPassword.error != ''){ if(messages.confirmPassword.error != null) { %>is-invalid<% }else if (messages.confirmPassword.value != ''){ %>is-valid<% }} %>"
                                           id="confirmpass"
                                           name="confirmPassword"
                                           value='<% if(messages.confirmPassword.error == null){ %><%= messages.confirmPassword.value %><% } %>'>
                                    <div class="invalid-feedback">
                                        <%= messages.confirmPassword.error %>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                                </div>
                                <label class="checkbox-inline"><input type="checkbox"> I accept the <a href="#">Terms of
                                        Use</a> &amp; <a href="#">Privacy Policy</a></label>
                                <hr class="my-4">
                                <div>
                                    <%= captchaError %>
                                </div>
                                <div class="col-md-12 mb-3 text-center">
                                    <button class="btn btn-primary btn-lg">Register</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<%- captcha -%>