<%- include('./layout/header'); -%>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 ">
            <div class="card border-primary bg-light mb-3 mt-5" style="max-width: 100%;">
                <div class="card-header pt-4">
                    <h2>Register</h2>
                </div>
                <div class="card-body">
                    <form action="/register" method="post" novalidate>
                        <div class="col-md-12 order-md-1">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">First name</label>
                                    <input type="text"
                                           class="form-control <% if(messages.firstName != '') { if(messages.firstName != 'ok'){ %>is-invalid<% } else if (messages.firstName == 'ok'){ %>is-valid<% } } %>"
                                           id="firstName"
                                           name="firstName"
                                           placeholder=""
                                           autofocus>
                                    <div class="invalid-feedback">
                                        <%= messages.firstName %>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Last name</label>
                                    <input type="text"
                                           class="form-control <% if(messages.lastName != '') { if(messages.lastName != 'ok'){ %>is-invalid<% } else if (messages.lastName == 'ok'){ %>is-valid<% } } %>"
                                           id="lastName"
                                           name="lastName"
                                           placeholder="">
                                    <div class="invalid-feedback">
                                        <%= messages.lastName %>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="username">Username</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@</span>
                                        </div>
                                        <input type="text"
                                               class="form-control <% if(messages.userName != '') { if(messages.userName != 'ok'){ %>is-invalid<% } else if (messages.userName == 'ok'){ %>is-valid<% } } %>"
                                               id="username"
                                               name="userName"
                                               placeholder="Username">
                                        <div class="invalid-feedback" style="width: 100%;">
                                            <%= messages.userName %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                    <input type="email"
                                           class="form-control <% if(messages.email != '') { if(messages.email != 'ok'){ %>is-invalid<% } else if (messages.email == 'ok'){ %>is-valid<% } } %>"
                                           id="email"
                                           name="email"
                                           placeholder="you@example.com">
                                    <div class="invalid-feedback">
                                        <%= messages.email %>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="password">Password</label>
                                    <input type="password"
                                           class="form-control <% if(messages.password != '') { if(messages.password != 'ok'){ %>is-invalid<% } else if (messages.password == 'ok'){ %>is-valid<% } } %>"
                                           id="password"
                                           name="password"
                                           placeholder="">
                                    <div class="invalid-feedback">
                                        <%= messages.password %>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="confirmpass">Password (confirm)</label>
                                    <input type="password"
                                           class="form-control <% if(messages.confirmPassword != '') { if(messages.confirmPassword != 'ok'){ %>is-invalid<% } %> <% } %>"
                                           id="confirmpass"
                                           name="confirmPassword"
                                           placeholder="">
                                    <div class="invalid-feedback">
                                        <%= messages.confirmPassword %>
                                    </div>
                                </div>
                                <label class="checkbox-inline"><input type="checkbox"> I accept the <a href="#">Terms of
                                        Use</a> &amp; <a href="#">Privacy Policy</a></label>
                                <hr class="my-4">
                                <div class="col-md-12 mb-3 text-center">
                                    <button class="btn btn-primary btn-lg">Register</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./layout/footer'); -%>