<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card border-primary bg-light mb-3 mt-5" style="max-width: 100%;">
                <div class="card-header pt-4">
                    <h2>reset password</h2>
                </div>
                <div class="card-body">
                    <form action="/password/reset" method="post" novalidate>
                        <div class="col-md-12 order-md-1">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="password">Password</label>
                                    <input type="password"
                                           class="form-control <% if(messages.password.value != '' || messages.password.error != ''){ if(messages.password.error != null) { %>is-invalid<% }else if (messages.password.value != ''){ %>is-valid<% }} %>"
                                           id="password"
                                           name="password"
                                           value='<% if(messages.password.error == null){ %><%= messages.password.value %><% } %>'>
                                    <div class="invalid-feedback">
                                        <%= messages.password.error %>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <input type="hidden" value="<%= token %>" name="token">
                                </div>

                                <div>
                                    <%= captchaError %>
                                </div>
                                <div class="col-md-12 mb-3 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">update password</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- captcha -%>